main {
    background: rgb(248, 243, 158);
    padding: 48px 0;
    color: rgb(24, 24, 24);
}

main div {
    width: 1020px;
    margin: 0 auto;    
}

.sobre {
    position: relative;
}

.imagem-sobre-dev {
    width: 400px;
    display: inline-block;
    border-radius: 8px;
    box-shadow: 1px 1px 16px rgba(18, 18, 18, 0.2);
}

.apresentacao-sobre {
    display: inline-block;
    width: 480px;
    vertical-align: top;
    position: absolute;
    right: 0;
    top: 48px;
}

.principal {
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 48px;
}

.bckg-txt {
    background-color: rgb(247, 237, 79);
    box-shadow: 1px 1px 16px rgba(248, 221, 16);
    color: rgb(248, 243, 158);
    padding: 18px;
    display: inline-block;
    border-radius: 8px;
    width: 45%;
    box-sizing: border-box;
    vertical-align: top;
    height: 100px;
}

.bckg-txt a {
    color: rgb(248, 243, 158);
}

.margem-box {
    margin: 2.3%;
}

.icone-habilidades {
    width: 80px;
    transition: 0.7s transform;
}

.icone-habilidades:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.display-icone-habilidades {
    display: none;
}

.icone-interesses {
    width: 80px;
    transition: 0.7s transform;
}

.icones-interesses:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.display-informacoes-interesses {
    display: none;
}

@media screen and (max-width:1040px) {
    main {
        padding: 16px 0;
    }
    main div {
        width: 340px;
        padding: 8px;
    }

    .sobre {
        width: 100%;
        opacity: 0.2;
        position: relative;
    }

    .apresentacao-sobre {
        display: block;
        width: 300px;
        text-align: center;
        right: 0;
        left: 0;
        top: 0;
        margin: 0 auto;
    }

    .principal {
        margin-bottom: 8px;
        margin-top: 8px;
    }

    .bckg-txt {
        font-size: 13px;
        width: 100%;
        height: 88px;
    }

    .margem-box {
        margin: 0 0 2.3% 0;
    }

    .icones-habilidades {
        width: 60px;
    }

    .icones-interesses {
        width: 60px;
    }
}
